/* ---------------------------------
Author: Pavel Reva
Author's website: http://pavelreva.com
Company website: http://worldofsolomon.com
© © Keywords Toaster 2013
--------------------------------- */

@media (min-width: 1280px) {
  .container {
    max-width: 1250px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1410px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1570px;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1890px;
  }
}

li {
  white-space: nowrap;
}

body {
  font-family: arial;
  background:url('../img/bg-pattern.png') repeat;
  padding-top: 70px;
}

button, .btn-group-vertical {
  width: 100%;
}
button {
  outline: none;
}
a {
  cursor: pointer;
}
.row {
  margin-bottom: 25px;
}
textarea {
  width: 100%;
  height: 285px;
  border: 1px solid #999;
  border-radius: 7px;
  resize: none;
  outline: none;
  padding: 10px;  
  font-size: 11px;
}
textarea:focus {
  border-style: dashed;
}
input[type="text"] {
  border: 1px solid #999;
  border-radius: 4px;
  outline: none;
}
input[type="text"]:focus {
  border-style: dashed;
  outline: none;
  box-shadow: none;
  border-color: #999;
}


/*
  WRAPPER
*/
#wrapper .tools-wrap {
  margin-top: 25px;
}




/*
  MIXER
*/
#mixer .keywords-compiled {
  height: 270px;
}
#custom-separator {
  display: none;
  width: 65px;
  text-align: center;
  float: right;
  margin-right: 13px;  
}


/*
  TYPOER
*/
#typoer .tools-generate {
  margin-top: 55px;
}

#main-content {
  background: url('../img/header.png') top center no-repeat;
  padding-top: 80px;  
  min-width: 1200px;
}
#tools-content {
  margin-bottom: 100px;
}
.navbar {
  z-index: 8030;
  background: #222 url('../img/bg-pattern-top-nav.png') repeat;
}
.navbar .container {
  min-width: 970px;
}
.navbar-toggle {
  float: left;
  width: 50px;  
  margin-right: 5px;
}

#thanks-me {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;  
}

#results-box {
  /*position: absolute;*/
  /*width: 100%;*/
}
.results-list {
  text-align: left;
  /*margin-top: 25px;*/
  overflow: hidden;
  cursor: pointer;
}
.results-list .list-group-item {
  white-space: nowrap;
}
.results-list .result-item:hover {
  background-color: #f5f5f5;
}
.results-list .close {
  width: auto;
}
.results-list .keywords-count {
  float:left;
  margin-right: 5px;
}
.results-list .keywords-preview {
  display: block;
  overflow: hidden;
  max-width: 70%;  
}

#social-buttons {
  /*position: absolute;*/
  /*top: -60px;*/
  /*right: 10px;  */
}

.ad-do {
  margin-top: 10px;  
}

#inspirer #keywords-inspiration-list .btn {
  margin: 5px;
}
#inspirer #keywords-inspiration-list .close {
  margin-left: 10px;
}
#inspirer .keywords-compiled.keywords-input {
  height: 
}

#nav-new-badge {
  position: absolute;
  top: 10px;
  right: -40px;  
  width: 50px;
  height: 50px;
  background: url(http://www.blackbox.co.uk/_AppData/LocalizedContent/UK/IMG/ProductLabels/GB.Label_New.png);
}


#copyright {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: right;
  color: #666;
}
